
// Variables
//
// This file contains variables that are used to normalize the values used in
// atom style definitions.

$eg-default-fonts: helvetica;
$eg-spacings: 10px;

// Color palette

$eg-color-black: #222;
$eg-color-orange: #408080;
$eg-color-cyan: #f58181;
$eg-color-brown: #800080;
